<%- include("header") %>

<body>
<!-- Page Header Start -->
<div class="container-fluid page-header p-3 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/product">Product</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">Product name</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Article Start -->
<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-5">
            <div class="col-lg-6 fadeIn">
                <div class="owl-carousel  wow fadeInUp" data-wow-delay="0.5s" id="detail-carousel">
                    <% detailProduct.images.forEach(val => { %>
                        <img class="img-fluid" src="<%= val %>" alt="">
                    <%}) %>

                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title mb-3">
                    <p class="fs-5 fw-medium fst-italic text-primary text-uppercase"><%= detailProduct.category %></p>
                    <h1 class="display-6"><%= detailProduct.name %></h1>
                </div>
                <div>
                    <div class="text-left mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                </div>
                <div class="product_detail__grid mb-3">
                    <span class="text-uppercase">Branch</span>
                    <div class=" fst-italic"><%= detailProduct.branch %></div>
                </div>
                <div class="product__detail_price fw-bold">$<%= detailProduct.price %></div>
                <a href="javascript:void(0)"
                   onclick="addCartItem(event, <%= detailProduct.id %>, 1)"
                   class="btn btn-primary rounded-pill py-3 px-5 w-full">
                    Add to card
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <p class="mb-4"><%= detailProduct.description %> </p>
        <p class="mb-4"><%= detailProduct.subDescription %> </p>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Relate product</p>
        </div>
        <div class="row g-4" id="mock">
            <% for(let index = 0; index < products.length; index++) { %>
                <%- include('./template/store-item.template.ejs', {product: products[index], index: index}) %>
            <% } %>
        </div>
        <div class="col-12 text-center wow fadeInUp mt-3" data-wow-delay="0.1s">
            <a href="/store" id="viewMore" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
        </div>
    </div>
</div>

<!-- Article End -->
</body>
<%- include("footer") %>
