<div class="position-relative ">
    <div class="row m-0 filter-bar cursor-pointer" onclick="onClickSelection(event)">
        <div class="col-4">
            <a  href="javascript:void(0)">
                Category
            </a>
        </div>
        <div class="col-4">
            <a  href="javascript:void(0)">
                Subcategory
            </a>
        </div>
        <div class="col-4">
            <a href="javascript:void(0)" >
                Branch
            </a>
        </div>
    </div>
    <div class="row position-absolute m-0 w-100 filter-bar selection" id="detail-selection">
        <div class="col-4">

            <% category.forEach( (val, index) => { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= val.id %>" name="category-checkbox"
                           id="category-checkbox-<%= index %>">
                    <label class="form-check-label" for="category-checkbox-<%= index %>">
                        <%= val.name %>
                    </label>
                </div>

            <% }) %>

        </div>

        <div class="col-4">

            <% subCategory.forEach( (val, index) => { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= val.id %>" name="category-checkbox"
                           id="category-checkbox-<%= index %>">
                    <label class="form-check-label" for="category-checkbox-<%= index %>">
                        <%= val.name %>
                    </label>
                </div>

            <% }) %>

        </div>

        <div class="col-4">

            <% branch.forEach( (val, index) => { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= val.id %>"
                           name="branch-checkbox"
                           id="branch-checkbox-<%= index %>">
                    <label class="form-check-label" for="branch-checkbox-<%= index %>">
                        <%= val.name %>
                    </label>
                </div>

            <% }) %>

        </div>

        <div class="col-12 row mt-3">
            <div class="col-3">
                <button type="button" onclick="passDataToParams(event)" class="btn btn-primary">Apply</button>
            </div>
            <div class="col-3"></div>
            <div class="col-3">
                <button type="button" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </div>
</div>


